.skills{
    background-color: #291c0e;
    height: 730px;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid black;

}
.skills-title{
    text-align: center;
    font-family: "Hanalei Fill", serif;
    color: #76993d;
    text-shadow: 3PX 3PX 1px  BLACK; 
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 30px;
}

.lang{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}
.column1{
    display: flex;
    flex-direction: column;
}
.column2{
    
    display: flex;
    flex-direction: column;

}
.bar{
    
    background-image: linear-gradient(to right, #76993d 90%,  #Fff );
    height: 40px;
    width: 367px;
    border: 5px solid black;
}
.bar2{
    
    background-image: linear-gradient(to right, #76993d 60%,  #Fff );
    height: 40px;
    width: 367px;
    border: 5px solid black;
}
h4{
    font-family: "Hanalei Fill", serif;
    color: #76993d;
    text-shadow: 3PX 3PX 1px  BLACK; 
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.html{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    
}

.html-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;}


.css{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}    

.css-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.js{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.js-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.react{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.react-bar{
    display: flex;
    flex-direction: column;
    gap: 20px

}

.nodejs{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

}
.nodejs-bar{
    display: flex;
    flex-direction: column;
    gap: 20px

}

.tdd{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    

}

.tdd-bar{
    display: flex;
    flex-direction: column;
    gap: 20px
    

}

.rest{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

}

.rest-bar{
    display: flex;
    flex-direction: column;
    gap: 20px

}

.ux{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

}

.ux-bar{
    display: flex;
    flex-direction: column;
    gap: 20px

}