header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #291c0e;
    border-bottom: 10px solid black;
    padding:10px 20px;
    
    
}
.logo{
    font-size: 50px;
    font-family:"Hanalei Fill", serif;
    color: #76993d;
    text-shadow: 3PX 3PX  BLACK;
    transition:0.5s linear;
}
.logo:hover{
    cursor: pointer;
    transform: scale(1.08);
    

}






